.info{
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: rgba(165, 42, 42, 0.658);
    border-radius: 8px;
    
}

.form-item{
    margin: 20px;
}

button{
    transform: translate(130%);

}

.vido{
    position: absolute;
    top: 80px;
    right: 20px;
    display: plane;
}